name: Link Check
on:
  pull_request:
  schedule:
    - cron: '0 2 * * 1'
jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        id: lychee
        continue-on-error: true
        with:
          args: --verbose --no-progress --exclude '^mailto:' --max-redirects 5 "./**/*.md"
          output: /tmp/lychee.md
          format: markdown
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload report
        uses: actions/upload-artifact@v5
        with:
          name: lychee-report
          path: /tmp/lychee.md
