name: Prose Lint
on:
  pull_request:
jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: errata-ai/vale-action@v2
        with:
          filter_mode: added
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
